@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@1,100&family=Montserrat:ital,wght@1,300;1,400&family=Roboto+Condensed:wght@300&display=swap') ;

.App {
  background-image: url('../images/background.png');
}

.header {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  height: 50px;
  left: 351.35px;
  text-align: center;
  top: 4.16px;
  width: 1300px;
}

.title {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  height: 60px;
  left: 553px;
  line-height: 150%;
  text-align: center;
  text-transform: uppercase;
  top: 444px;
  width: 1200px;
}

.planets {
  height: 1600px;
  left: -351.35px;
  top: 4.16px;
  width: 2236.35px;
}

.name-planet {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  height: 24px;
  left: 24px;
  margin-left: 540px;
  top: 722px;
  width: 71px;
}

.cardPlanet {
  height: 100px;
  left: 489px;
  margin-left: 520px;
  top: 518px;
  width: 150px;
}

.missions {
  border-radius: 10px;
  height: 6200px;
  left: 91px;
  top: 899px;
  width: 1098px;
}

.card-mission {
  align-items: center;
  background: rgba(24, 26, 37, 0.5);
  border: 2px solid white;
  border-radius: 17px;
  box-sizing: border-box;
  left: 134px;
  margin-left: 380px;
  mix-blend-mode: hard-light;
  top: 1036px;
  width: 500px;
}

.name-mission {
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 54px;
  left: 161px;
  line-height: 120%;
  margin-left: 160px;
  text-transform: uppercase;
  top: 1063px;
  width: 451px;
}

.year-mission {
  align-items: center;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  height: 44px;
  left: 194px;
  line-height: 120%;
  margin-left: 160px;
  top: 1161px;
  width: 52px;
}

.country-mission {
  align-items: center;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 44px;
  left: 296px;
  line-height: 120%;
  margin-left: 160px;
  top: 1161px;
  width: 145px;
}

.destinationMi {
  align-items: center;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  height: 44px;
  left: 485px;
  line-height: 120%;
  margin-left: 160px;
  top: 1161px;
  width: 136px;
}
